*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    border: none;
    height: 200px;
    width: 300px;
    background-size: cover;
    transition: 0.2s;
}

img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.div{
    background-color: rgba(0, 0, 0, 0.589);
    width: 1048px;
    height: 224px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

